body {
    font-family: Arial;
    margin: 50px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 300px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
}