<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pr0t0TyP3 p011Ut10N</title>
</head>
<body>
    <h1>pr0t0TyP3 p011Ut10N</h1>
    <p>L3t'S 7rY Pr0t0TyP3 p011u7i0N 70 g37 F14g :D</p>
</body>
</html>