<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pr0t0TyP3 p011Ut10N</title>
</head>
<body>
    <h1>pr0t0TyP3 p011Ut10N</h1>
    <p>H31L0 h4ck3R!</p>
    <p>G3t "admin" acc0unt T0 p24c71c3 pr0t0TyP3 p011Ut10N :]</p>
</body>
</html>
